---
import { Icon } from "astro-icon/components";
import { type ComponentProps } from "astro/types";

// components
import FooterLink from "@/components/footer/FooterLink.astro";
import SiteLogo from "@/components/site-logo/SiteLogo.astro";
import Button from "@/components/button/Button.astro";
import SocialIconSimple from "@/components/social/SocialIconSimple.astro";
import { Input } from "@/components/starwind/input";

// utils
import { getLocaleFromUrl } from "@/js/localeUtils";
import { getTranslatedData } from "@/js/translationUtils";

// data
const currLocale = getLocaleFromUrl(Astro.url);
const siteData = getTranslatedData("siteData", currLocale);

const today = new Date();

interface FooterLinkItem {
	label: string;
	href: string;
	newTab?: boolean;
}

const quickLinks: FooterLinkItem[] = [
	{ label: "Contact", href: "/contact", newTab: false },
	{ label: "Projects", href: "/projects", newTab: false },
	{ label: "Blog", href: "/blog", newTab: false },
	{ label: "Elements", href: "/elements", newTab: false },
];

const companyLinks: FooterLinkItem[] = [
	{ label: "Privacy Policy", href: "/privacy-policy", newTab: false },
	{ label: "Terms of Service", href: "/terms", newTab: false },
	{ label: "Our Story", href: "/about", newTab: false },
	{ label: "Careers", href: "/careers", newTab: false },
];

const socialLinks: ComponentProps<typeof SocialIconSimple>[] = [
	{
		name: "Twitter",
		url: "https://x.com/BowTiedWebReapr",
		icon: "tabler/brand-x",
	},
	{
		name: "Threads",
		url: "https://www.threads.net/@bowtiedwebreaper",
		icon: "tabler/brand-threads",
	},
	{
		name: "BlueSky",
		url: "https://bsky.app/profile/webreaper.dev",
		icon: "tabler/brand-bluesky",
	},
	{
		name: "GitHub",
		url: "https://github.com/Boston343",
		icon: "tabler/brand-github",
	},
];
---

<div class="bg-background text-foreground dark relative py-12 md:py-20">
	<footer class="site-container relative m-auto w-full pb-6">
		<div class="flex w-full flex-col justify-between gap-x-4 gap-y-10 md:flex-row md:gap-10">
			<div class="flex max-w-md flex-col items-start">
				<SiteLogo />
				<h3 class="mt-20 mb-10 text-3xl">
					Subscribe to get tips and tactics to grow the way you want.
				</h3>
				<form class="relative w-full">
					<Input name="email" required size="lg" type="email" placeholder="Your email address" />
					<Button
						type="submit"
						class="absolute top-0 right-0 aspect-square h-full w-18 min-w-18 rounded-3xl p-0"
					>
						<Icon name="tabler/chevron-down" class="size-6 -rotate-90" />
						<span class="sr-only">Subscribe</span>
					</Button>
				</form>
			</div>
			<div class="flex flex-col gap-x-32 gap-y-10 sm:flex-row md:mt-28">
				<!-- Navigation -->
				<div class="flex flex-col gap-1">
					<h3 class="mb-4 font-medium">Navigation</h3>
					{
						quickLinks.map((link) => (
							<FooterLink href={link.href} newTab={link.newTab}>
								{link.label}
							</FooterLink>
						))
					}
				</div>

				<div class="flex flex-col gap-1">
					<h3 class="mb-4 font-medium">Company</h3>
					{
						companyLinks.map((link) => (
							<FooterLink href={link.href} newTab={link.newTab}>
								{link.label}
							</FooterLink>
						))
					}
				</div>
			</div>
		</div>

		<!-- Bottom Bar -->
		<div class="pt-20">
			<div class="flex flex-col items-center justify-between gap-4 md:flex-row">
				<p class="opacity-60">
					&copy; {today.getFullYear()}
					{" "}{siteData.name}. All rights reserved.
				</p>
				<!-- Social Links -->
				<div class="mt-5 flex flex-wrap gap-8">
					{socialLinks.map((social) => <SocialIconSimple {...social} />)}
				</div>
			</div>
		</div>
		<div class="sr-only">
			<p>
				A website template crafted with love by <a href="https://cosmicthemes.com/">Cosmic Themes</a
				>
			</p>
		</div>
	</footer>
</div>
