---
// components
import FooterLink from "@/components/footer/FooterLink.astro";
import SiteLogo from "@/components/site-logo/SiteLogo.astro";
import FooterContactForm from "@/components/forms/FooterContactForm.astro";

// utils
import { getLocaleFromUrl } from "@/js/localeUtils";
import { getTranslatedData } from "@/js/translationUtils";

// data
const currLocale = getLocaleFromUrl(Astro.url);
const siteData = getTranslatedData("siteData", currLocale);

const today = new Date();

interface FooterLinkItem {
	label: string;
	href: string;
	newTab?: boolean;
}

const navigationLinks: FooterLinkItem[] = [
	{ label: "Inicio", href: "/", newTab: false },
	{ label: "Parking", href: "/parking", newTab: false },
	{ label: "Vending", href: "/vending", newTab: false },
	{ label: "Blog", href: "/blog", newTab: false },
	{ label: "Contacto", href: "/contact", newTab: false },
	{ label: "Política de Privacidad", href: "/privacy-policy", newTab: false },
];
---

<div class="bg-background text-foreground dark relative py-12 md:py-20">
	<footer class="site-container relative m-auto w-full pb-6">
		<div class="flex w-full flex-col justify-between gap-x-4 gap-y-10 md:flex-row md:gap-10">
			<div class="flex flex-1 max-w-3xl flex-col items-start">
				<SiteLogo />
				<h3 class="mt-8 mb-6 text-xl font-medium">
					Contacto
				</h3>
				<div class="w-full">
					<FooterContactForm />
				</div>
			</div>
			<div class="flex flex-col gap-x-32 gap-y-10 sm:flex-row md:mt-28">
				<!-- Navegación -->
				<div class="flex flex-col gap-1">
					<h3 class="mb-4 font-medium">Navegación</h3>
					{
						navigationLinks.map((link) => (
							<FooterLink href={link.href} newTab={link.newTab}>
								{link.label}
							</FooterLink>
						))
					}
				</div>
			</div>
		</div>

		<!-- Bottom Bar -->
		<div class="pt-20">
			<div class="flex flex-col items-center justify-between gap-4 md:flex-row">
				<p class="opacity-60">
					&copy; {today.getFullYear()}
					{" "}{siteData.name}. All rights reserved.
				</p>
			</div>
		</div>
		<div class="sr-only">
			<p>
				A website template crafted with love by <a href="https://cosmicthemes.com/">Cosmic Themes</a
				>
			</p>
		</div>
	</footer>
</div>
